{% extends 'FrontBundle::base.html.twig' %}

{% block title %}Bienvenue dans l'administration de votre site{% endblock %}

{% block main %}
<main>
    Vous êtes déconnecté !
</main>
{% endblock %}
