{% extends 'FrontBundle::base.html.twig' %}

{% block title %}Espace perso{% endblock %}

{% block main %}
<main>
        <section>
            <h1>Votre compte</h1>
	</section>
</main>
{% endblock %}