{% extends 'FrontBundle::base.html.twig' %}

{% block title %}Bienvenue dans l'administration de votre site{% endblock %}

{% block main %}
<main>
    <h1>Item creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_item') }}">
            Back to the list
        </a>
    </li>
    <li>
        <p><a href="{{ path('admin') }}">Retour à l'accueil</a></p>
    </li>
</ul>
</main>
{% endblock %}
