{% extends 'FrontBundle::base.html.twig' %}

{% block title %}Bienvenue dans l'administration de votre site{% endblock %}

{% block main %}
<main>
    <h1>Customer creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('customer') }}">
            Back to the list
        </a>
    </li>
</ul>
</main>
{% endblock %}
